
canvas {
    width: 50%;
    height: auto;
    background-color: #00000000;
    transition: transform 0.5s ease, width 0.5s ease;
}

.canvas-move-moldura-tecno {
    transform: translate(-100%, 35%);
    width: 20%;
}


#riveCanvasMolduraTecno {
    position: absolute;
    z-index: 4;
}

#riveCanvasMenuTecno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-149%, 410%);
    z-index: 5;
    background-color: transparent;
    width: 20%;
}

#riveCanvasTextoTecno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -55%);
    z-index: 6;
    /* Certifique-se de que o canvas menu esteja acima de outros elementos */
    background-color: transparent;
    visibility: hidden;
    width: 60%;
    height: 80%
}

.center-tecno {
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-140%, -68%);
    transition: all 0.5s ease;
    width: 30%;
    z-index: 4;
}

.container-filho-tecno {
    position: absolute;
    top: 55px;
    width: 0;
    height: 0;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    border-color: rgb(0, 162, 255);
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 4;
    transform-origin: center;
    transition: width 1s ease-out, height 1s ease-out;
}

